body {
    background-color: #cccccc;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.cards-wrapper {
    max-width: 1000px;
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
}

.result {
    padding: 50px;
    max-width: 1000px;
    width: 100%;
}

.card {
    width: 27%;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0 7px 1px #000000;
    margin-bottom: 40px;
    transition: background 0.4s;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.front-side {
    background: #444444;
}

.btn {
    height: 40px;
    width: 100px;
}
